@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@
@using MvcPaging;

@model IPagedList<SmsFeedback_EFModels.Company>
           
<div class="pagingContainer">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

<table class="zebra-striped">
        <thead>
            <th>
                Name
            </th>
            <th>
                CompanyNumber
            </th>
       
            <th>
                City
            </th>
            <th>
                Landline
            </th>
            <th>
                Email
            </th>
            <th></th>
        </thead>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATID)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td nowrap>
                @Html.ActionLink("Edit", "Edit", new { id = item.Name }, new { idCustomer = item.Name, @class = "btn primary editCustomer" }) 
                @Html.ActionLink("Details", "Details", new { id=item.Name }, new { @class = "btn"}) 
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Name }, new { @class = "btn"})*@
            </td>
        </tr>
    }

    </table>