@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model SmsFeedback_EFModels.Company

@{
    ViewBag.Title = "Details";
}

@section Header{
<script>
    var sorter_options = {
        headers: {
            3: { sorter: 'decimal' },
            4: { sorter: 'datetime' },
            5: { sorter: 'datetime' }
        }
    };
</script>
}

<div class="span7">
<fieldset>
  <legend>Company details</legend>
	<p>
        <strong>Name: </strong>
         @Html.DisplayFor(model => model.Name)
    </p>
	<p>
        <strong>Description: </strong>
         @Html.DisplayFor(model => model.Description)
    </p>
	<p>
        <strong>Address: </strong>
         @Html.DisplayFor(model => model.Address)
    </p>	
	<p>
        <strong>RegistrationNumber: </strong>
         @Html.DisplayFor(model => model.RegistrationNumber)
    </p>
	<p>
        <strong>PostalCode: </strong>
         @Html.DisplayFor(model => model.PostalCode)
    </p>
	<p>
        <strong>City: </strong>
         @Html.DisplayFor(model => model.City)
    </p>	
	<p>
        <strong>Landline: </strong>
         @Html.DisplayFor(model => model.Contact.Landline)
    </p>
	<p>
        <strong>Mobile: </strong>
         @Html.DisplayFor(model => model.Contact.Mobile)
    </p>
	<p>
        <strong>Email: </strong>
         @Html.DisplayFor(model => model.Contact.Email)
    </p>
	<p>
        <strong>Notes: </strong>
         @Html.DisplayFor(model => model.Notes)
    </p>
	<p>
        <strong>VATID: </strong>
         @Html.DisplayFor(model => model.VATID)
    </p>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn primary"})
</p>
</div>

<div class="span12">
    <h2>Last invoices</h2>
    @{Html.RenderAction("LastInvoicesByCustomer", "Invoice", new { id = Model.Name });}
    
    <h2>Last proposals</h2>
    @{Html.RenderAction("LastProposalsByCustomer", "Invoice", new { id = Model.Name });}
</div>