@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model SmsFeedback_EFModels.Company

 <fieldset>
 
        @if (Model != null)
        {   <text>
            @Html.HiddenFor(model => model.Name)
            </text>
        }

        @if (Model != null)
        {   <text>
            @Html.HiddenFor(model => model.SubscriptionDetailsID)
            </text>
        }

    @if (Model != null)
        {   <text>
            @Html.HiddenFor(model => model.Contact_Id)
            </text>
        }

      <div class="clearfix">
            @Html.LabelFor(model => model.Name)
        
        <div class="input">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Description)
        
        <div class="input">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Address)
        
        <div class="input">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
		</div>
    

        <div class="clearfix">
            @Html.LabelFor(model => model.RegistrationNumber)
        
        <div class="input">
            @Html.EditorFor(model => model.RegistrationNumber)
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.PostalCode)
        
        <div class="input">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.City)
        
        <div class="input">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Contact.Name)
        
        <div class="input">
            @Html.EditorFor(model => model.Contact.Name)
            @Html.ValidationMessageFor(model => model.Contact.Name)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Contact.Surname)
        
        <div class="input">
            @Html.EditorFor(model => model.Contact.Surname)
            @Html.ValidationMessageFor(model => model.Contact.Surname)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Contact.Landline)
        
        <div class="input">
            @Html.EditorFor(model => model.Contact.Landline)
            @Html.ValidationMessageFor(model => model.Contact.Landline)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Contact.Mobile)
        
        <div class="input">
            @Html.EditorFor(model => model.Contact.Mobile)
            @Html.ValidationMessageFor(model => model.Contact.Mobile)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Contact.Email)
        
        <div class="input">
            @Html.EditorFor(model => model.Contact.Email)
            @Html.ValidationMessageFor(model => model.Contact.Email)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Notes)
        
        <div class="input">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.VATID)
        
        <div class="input">
            @Html.EditorFor(model => model.VATID)
            @Html.ValidationMessageFor(model => model.VATID)
        </div>
		</div>

		<div class="actions">
            <input type="submit" class="btn primary" value="Save" />
            <input type="button" class="btn closeModal" value="Close window" />
			@*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })*@
        </div>
    </fieldset>